html {
  position: relative;
  min-height: 100%;
}

.text-center {
    text-align:center;
}

.col-xs-12 {
    width: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body {
    background-color: #d0e4fe;
}


body {
    background: #fafafa url("../imgs/content_inner_bg.png");
    margin: 0;
    font-family: "Open Sans"
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #404040;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.center {
    position: absolute;
    font-size: 18px;
    left: 0%;
    top: 50%;
    width: 100%;

    media="screen"
    #tray .remove {
        width: 200px;
        float: right;
        text-align: right;
        margin-top: 8px;
    }
